{% extends 'authapp/base.html' %}
{% load static %}


{% block content %}

    <form class="form-horizontal" action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_form.as_p }}
        <input class="form-control" type="submit" value="сохранить">
    </form>
    <div class="user_avatar">
        {% if user.avatar %}
            <img src="/media/{{ user.avatar }}">
        {% else %}
            <img src="/media/users_avatars/default.jpg">
        {% endif %}
    </div>
{% endblock %}
